* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #4a4a4a;
    background: #ffffff;
}

/* Tier Bar */
.tier-bar {
    display: flex;
    width: 100%;
    height: 44px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.tier {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.tier-2 {
    width: 70%;
    background: #7a459a;
}

.tier-3 {
    width: 30%;
    background: #a7c64b;
}

/* Page */
.page {
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 0px 35px !important;
}

.content {
    margin-top: 17px;
    padding: 25px 20px;
}

.content-with-img {
    display: flex;
}

.content-with-img p{
    width: 80%;
}

.content-with-img img{
    /* width: 14%; */
    height: 55px;
}
.declare{
    height: 35px !important;
}
/* Content */
.content p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 14px;
}

.content a {
    color: blue;
}

.content strong {
    color: #676666;
}

.content h3 {
    margin-top: 25px;
    font-size: 15px;
    color: #333;
}

.content ol {
    padding-left: 20px;
    font-size: 14px;
}

.content li {
    margin-bottom: 10px;
}


/* Responsive */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .logo {
        text-align: left;
        margin-top: 15px;
    }

    .page {
        padding: 20px;
    }
}

.ceiling {
    margin-top: 13px !important;
}

section li,
section p {
    margin-bottom: 0px !important;
}