/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #333;
    background-color: #fff;
}

.page-container {
    margin: 0 auto;
    padding: 40px;
}

/* Layout Grid */
.content-grid {
    display: flex;
    gap: 60px;
    margin-top: 15px;
    padding: 0px 20px;
}

.col-left {
    flex: 1;
}

.dimming {
    margin-top: 220px !important;
}

.col-right {
    flex: 1;
    padding-left: 20px;
}

/* Typography */
.section-group {
    margin-bottom: 25px;
}

.section-group h3 {
    font-size: 13px;
    color: #676666;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}
.Download{
    color: #333 !important;
    font-size: 15px !important;
}
.section-group h4 {
    font-size: 13px;
    color: #676666;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.link-list {
    list-style: none;
}

.link-list a {
    font-size: 12px;
    text-transform: uppercase;
    color: #ff751f;
    font-weight: 500;
}

.icon-header {
    display: flex;
    align-items: center;
    color: #555;
    font-size: 14px;
    margin-bottom: 20px;
}

.icon-header i {
    margin-right: 8px;
    font-weight: 700 !important;
    color: #676666 !important;
    font-size: 15px;
}